# Bot Discord
DISCORD_TOKEN=ton_token_ici
CLIENT_ID=ton_application_id_ici
GUILD_ID=id_de_ton_serveur_discord
BACKUP_GUILD_ID=
SYNC_SECRET_TOKEN=genere_un_secret_long_et_aleatoire
ROLE_STANDARD_ID=
ROLE_PRO_ID=
ROLE_PREMIUM_ID=
ROLE_MEMBER_ID=
PORT=3000

# Channels IDs (remplis après le /setup)
LOG_CHANNEL_ID=
WELCOME_CHANNEL_ID=
TICKET_CATEGORY_ID=
