# Bot Discord
DISCORD_TOKEN=ton_token_ici
CLIENT_ID=ton_application_id_ici
GUILD_ID=id_de_ton_serveur_discord

# Channels IDs (remplis après le /setup)
LOG_CHANNEL_ID=
WELCOME_CHANNEL_ID=
TICKET_CATEGORY_ID=
